// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.product-container {
  background: asset-url("background.jpg", image) repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.product-description{
	padding-top:30px;
	padding-bottom:30px;
}
.product-description img{
	width:300px;
	height:400px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 6px #e3a066;
	margin-bottom: 10px;
}

.show-product{
	margin-left: 30px;
}