
body { 
	background-color:#e7ad7c;
	padding-top:80px;
}

 table{
 	background-color: #ECF0F1;
 }

 .cart{
 	z-index: 100;
 	right:0;
 	position: fixed;
 	border-radius: 10px;
 	padding: 5px;
 	margin: 5px;
 	background-color:#F5D76E;
 	box-shadow: 0px 0px 10px 6px #A17917;
 }

 .cart > img{
 	float:right;
 	width: 32px;
 	height: 32px;
 }

.navbar-header > img{
	height: 50px;
} 

.navbar-right > img {
	height: 45px;
}
