
body { 
	background-color:#e7ad7c;
}

 table{
 	background-color: #ECF0F1;
 }

 .cart{
 	z-index: 100;
 	right:0;
 	position: fixed;
 	border-radius: 10px;
 	padding: 5px;
 	margin: 5px;
 	background-color:#F5D76E;
 	box-shadow: 0px 0px 10px 6px #A17917;
 }

 .cart > img{
 	float:right;
 	width: 32px;
 	height: 32px;
 }

.page-header img{
	height:200px;
	width:80%;
}

.page-header ul{
	list-style-type:none;		
}
.page-header li{
	display:inline;
}

 .navigation {
 	font-family: "Lucida Console", Monaco, monospace;
 	font-size: 90%;
 	margin: 0 10px;
 }
.cart a{
 	text-decoration: none;
 	 color: #A17917;
 }
.cart a:hover{
   color: transparent;
   text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.navigation a{
 	text-decoration: none;
 	 color: #A17917;
 }
.navigation a:hover{
	color: #ECF0F1;
	font-size: 110%;
	 color: transparent;
   text-shadow: 0 0 5px rgba(255, 255, 255,0.5);
}
