// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 body{
 	background-color:#E2B13C;
 }

 table{
 	background-color: #ECF0F1;
 }

 .cart{
 	z-index: 100;
 	right:0;
 	position: fixed;
 	border-radius: 10px;
 	padding: 5px;
 	margin: 5px;
 	background-color:#F5D76E;
 	box-shadow: 0px 0px 10px 6px #A17917;
 }

 .cart > img{
 	float:right;
 	width: 32px;
 	height: 32px;
 }

.page-header img{
	height:200px;
	width:80%;
}

.page-header ul{
	list-style-type:none;		
}
.page-header li{
	display:inline;
}

 .navigation {
 	font-family: 'Quicksand', sans-serif;
 	font-size: 150%;
 	margin: 0 10px;
 }
.cart a{
 	text-decoration: none;
 	 color: #A17917;
 }
.cart a:hover{
	color: #ECF0F1;
	font-size: 110%;
}

.navigation a{
 	text-decoration: none;
 	 color: #A17917;
 }
.navigation a:hover{
	color: #ECF0F1;
	font-size: 110%;
}


.backgroundLogo{
	height: 20%;
	width: 100%;
	margin: -10px 0;
	position: fixed;
	z-index:-1;
}
.mainLogo{
	font-family: 'Poiret One', cursive;
	position:absolute;
	margin: 10% 8%;
	width: 80%;
	z-index: 10;
}

.mainLogo > img{
	width: 100%;
	height: 60%;
}

.mainLogo > ul{
	list-style-type:none;
	margin:0 20%;
	padding:0 5px;
}

.mainLogo ul li{
	margin: 0 5px;
	font-size: 250%;
	display:inline;
}

.mainLogo a{
	color : #000000;
	text-decoration: none;
}
.mainLogo a:hover{
	text-decoration:none;
	color: #ECECEC;
}