<%= stylesheet_link_tag "products" %>
<%= stylesheet_link_tag "site"%>
<div class="container">
  <% @products.each do |category, products|%>
      <% products.each_slice(3) do |slice|%>
          <div class="row product-container text-center">
          <% slice.each do |product| %>
            <% if product.active %>
              <div class="col-lg-4 product-description">
                <%= link_to image_tag(product.default_image.path), product_path(product.permalink) %>
                <p><strong><%=product.name %></strong>//<%= number_to_currency product.price %></p>
              </div>
              <% end %>
          <% end %>
          </div>
      <% end %>
  <% end %>
</div>
